@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: 0em;
}

html {    
    overflow-x: hidden;

    font-size: 14px;

    background: #c4cfd1;
}

h3 {
    text-align: left;
    font-size: 1.3rem;
}

ul, ol, dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

.cover {
    object-fit: cover;
    /* object-position: 0 40%; */
}

.contain {
    object-fit: contain;
}

.hide {
    display: none;
}

.show {
    display: block;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.add__absolut {
    position: absolute;
}

.add__relative {
    position: relative;
}

.add__flex {
    display: flex;
}

.add__fixed {
    position: fixed;
}

.visibility__hidden {
    visibility: hidden;
}

.p__bot_3rem {
    padding-bottom: 3rem;
}

::-webkit-scrollbar {
width: 15px;
}

::-webkit-scrollbar-track {
box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
background-color: #f9f9fd;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: linear-gradient(180deg, #c4cfd1, #92c4e4);
}

/* animations */

.fade {
    animation-name: fade;
    animation-duration: .8s;
    animation-delay: .85s;
    animation-fill-mode: forwards;
}

.fade0_5s0s {
    animation: fade .5s linear;
}

@keyframes slideLeftAppearence {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRightAppearence {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes fallback-item {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}

.swing:hover {
    animation: swing 0.6s ease;
    animation-iteration-count: 1;
}
@keyframes swing {
    15% {
        transform: translateX(6px);
    }
    30% {
        transform: translateX(-6px);
    }
    40% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(-3px);
    }
    65% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}

.swiming {
    animation: swiming 2.5s ease;
    animation-iteration-count: infinite;
}
@keyframes swiming {
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moving {
    60% {
        transform: translateX(-10px);
    }
    70% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

/* .circling {
    animation: appear 15s linear infinite;
} */

@keyframes appear {
    50% {
        transform: translateX(2%);
    }
}

/* Timer */

.action__section {
    display: grid;
    grid-template-columns: minmax(500px, 50%) minmax(500px, 50%);
    grid-auto-flow: column;

    margin: 0 auto 300px;
    padding: 5rem 20rem;

    color: #fff;

    background: url(/img/contant/background/some-apartment-1.jpg);
    background: url(/img/contant/background/some-place.jpg) no-repeat 0 50%/ cover;
}

.action__description_wrap {
    padding: 1rem;

    background: #111;
}

.action__timer_wrap {
    padding: 15px;
    background: black;
    color: #FAFAFA;
}

.action__timer_data_wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.timer__data_box {
    display: flex;
    flex: 1;
    width: 71px;
    flex-direction: column;
    padding-bottom: 5px;
    align-items: center;
    margin-right: 20px;
    font-family: inherit;
    color: #beaa73;
}

.timer__data_box:last-child {
    margin-right: 0;
}

.timer__data_box span {
    margin: 3px 0;

    font-family: inherit;
    font-size: 3rem;
    font-weight: 500;
    color: inherit;
}

.action__section p {
    margin-top: 10px;
}

/* Buttons by modal*/
 
button {
    border: none;
    background: none;
    font: inherit;
    color: inherit;
}

/* .button-white {
    color: #000;
    background: #FAFAFA;
}

.button-black {
    color: #FAFAFA;;
    background: #000;
}

.buttons:active {
    color: #FAFAFA;
    background: #019dff;
} */

.input__decoration {
    width: 100%;
    height: 100%;

    padding: 10px;

    text-align: center;

    color: gray;
    border: none;
    box-shadow: 0 0 5px gray;
    border-radius: 2px;
}

.input__decoration:focus {
    outline: 2px solid #beaa7367;
    outline-offset: -2px;
}

/* Modals */

.modal__window {
    position: fixed;

    height: 100vmin;
    width: 100vmax;

    top:0;
    left: 0;

    background: #000000cb;

    z-index: 10000;
}

.modal__box {
    padding: 25px;
    width: 450px;
    top: 20%;
    left: calc((100% - 400px)/2);
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.modal__wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.close__modal {
    top: 30px;
    right: 20px;
    color: gray;
    font-size: 2rem;
    line-height: 0;
}

.padding-top_20px {
    padding-top: 20px;
}

.add__cursor_pointer {
    cursor: pointer;
}

.modal__title {
    text-align: center;

    text-transform: uppercase;
}

.modal__title.content__title {
    padding-bottom: 0;
}

.input__box {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 12px;
}

.modal__wrapper button {
    width: 80%;
    height: 50px;
    text-transform: uppercase;
}

.card__item_divider {
    border-bottom: solid 2px rgb(165, 164, 164);
}

/* staff modal about person */

.staff__person_modal_box {
    height: 100%;
}

.staff__person_modal_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100%;

    padding: 5rem 15rem;
}

.staff__person_modal_img_wrap {
    /* width: 90%;
    height: 82vmin;

    text-align: left; */
    max-height: 82vmin;
}

.staff__person_modal_content_wrap .content__text {
    text-align: left;

    padding-right: 1rem;
}

.staff__person_modal_close,
.modal__window_close {
    position: absolute;

    right: 5%;
    top: 5%;

    font-size: 3rem;
    color: #fff;
}

/* .staff__person_modal_content_wrap .content__text {
    padding: 0 2rem 0 5rem;
} */

.content__title.p__bot_3rem {
    padding-bottom: 3rem;
}

/* Modal-visible */

/* .flex_nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-justify_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-justify_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-visible {
    width: 90%;
    padding: 40px;
    margin: 0 auto;
}

.modal-visible_background_wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.modal-visible_background_img_left {
    top: -70px;
    left: -80px;
    width: 400px;
    height: 200px;
    background: url(img/contant/madal-visible_subtitle_photo_left_opacity.png) no-repeat -140px 10px/ cover;
    z-index: -1;
}

.modal-visible_background_img_right {
    top: -80px;
    right: -80px;
    width: 400px;
    height: 300px;
    background: url(img/contant/madal-visible_subtitle_photo_right_opacity.png) no-repeat 150px -30px/ cover;
    z-index: -1;
}

.modal-visible_background {
    background: #ffffff52;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.modal-visible_subtitle {
    flex: 1;
}

.modal-visible_wrapper_content {
    flex: 4;
}

.modal-visible_input__box {
    width: 280px;
    height: 60px;
}

.modal-visible_submit {
    width: 280px;
}

.modal-visible_subtitle {
    margin-bottom: 40px;
    text-align: center;
}

.icon-tattoo_machine {
    max-width: 70px;
}

.out-border_black {
    box-shadow: 0 0 0 2px black;
} */

/* header */

.header__after_scrolling {
    position: fixed;
    
    width: 100%;
    height: 40px;

    top: 25px;

    z-index: 5000;
}

.main__header {
    top: 60px;
    left: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    height: 150px;
    width: 100%;

    z-index: 5000;
}

.header__logo {
    flex: 1 0;
    position: relative;

    height: 100%;
    padding: 5px 50px 5px;

    text-align: left;

    filter: invert(100%);
}

.header__after_scrolling .header__logo {
    position: absolute;

    top: -1rem;
    left: -20rem;

    height: 7rem;
    padding: 5px 50px 5px;
}

.header__logo > img {
    object-fit: contain;
    object-position: left;
}

/* top panel */

.top__panel {
    top: 0;

    height: 40px;
    width: 100%;

    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    align-items: center;

    padding: 5px 0;

    font-size: .9rem;
    color: #beaa73;
    background: #111;

    z-index: 5000;
}

.header__after_scrolling .top__panel {
    /* display: flex; */
    display: block;

    position: relative;

    height: 100%;
    width: 50%;

    margin: 0 auto;

    font-size: .9rem;
    background: none;
}

.wrap__home_icon {
    max-width: 2rem;
    max-height: 2rem;

    margin: 0 auto;
}

.top__panel_item {
    height: 100%;
    line-height: 30px;
    width: 100%;

    text-align: center;
} 

.top__panel_item + .top__panel_item {
    border-left: 1px solid #d4a368;
}

.text__button {
    cursor: pointer;

    transition: .5s color ease-in-out;
}

.text__button:hover {
    color: #fff;
}

/* navigation */

.header__nav {
    flex: 1 0 0;

    right: 15px;

    color: #fff;
}

.header__after_scrolling .header__nav {
    position: static;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;

    text-align: center;
}

.nav__item {
    flex: 1 0 auto;

    height: 35px;
    line-height: 35px;

    margin-left: -1px;

    font-size: .8rem;

    border-radius: 1px;
    background: #00000085;
    transition: .3s font-size, .3s color, .3s transform;

}
.header__after_scrolling .nav__item {
    background: #000000e5;
}

.nav__item:hover {
    transform: scaleY(1.1) scaleX(1.01);

    font-size: .85rem;
    color: #d4a368;
}

.expand__more_icon {
    fill: #fff;

    transition: .2s color linear;
}

.nav__item:hover .expand__more_icon {
    fill: #d4a368;
}

.nav__item_link {
    overflow: hidden;

    font-size: inherit;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}

.nav__item_link.active {
    color: #d4a368;
}

.nav__item_link.active::after {
    content: '';

    display: block;

    height: 2px;

    margin-top: 5px;

    background: #d4a368;
}

.expand__more {
    display: flex;

    justify-content: center;
    align-items: center;
}

.gallary__folder {
    visibility: hidden;

    background: rgba(0, 0, 0, .5);

    transition: color .2s linear;
}

.header__after_scrolling .gallary__folder {
    background: #000000e5;
}

.gallary__folder:hover {
    color: #fff;
}

.nav__item:hover > .gallary__folder:nth-child(2) {
    visibility: visible;

    animation: fallback-item .5s forwards;
}

.nav__item:hover > .gallary__folder:nth-child(3) {
    visibility: visible;

    animation: fallback-item .7s forwards;
}

.nav__item:hover > .gallary__folder:nth-child(4) {
    visibility: visible;

    animation: fallback-item .6s forwards;
}

/* Gallary */

.intro__gallary {
    position: relative;

    margin: 0 auto;

    background: #ddd;

    z-index: 1000;
}

.intro__gallary_wrapper {
    position: relative;

    height: 550px;

    overflow: hidden;
}

.wrapper__view_img {
    height: 550px;

    animation: fade 2s;
}

.wrapper__preview_imges {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    position: relative;
    top: -90px;

    height: 60px;
    width: 80%;

    margin: 0 auto;

    animation: fade 3s;
}

.wrapper__preview_imges:hover {
    visibility: visible;
    opacity: 1;
}

.gallary__wrap_img {
    height: 100%;
    width: 100%;
}

.gallary__wrap_img > img {
    object-fit: cover;
    object-position: center;
    filter: grayscale(60%) brightness(95%);
}

.gallary__wrap_preview_img {
    flex: 1;

    transition: transform .5s linear;

    cursor: pointer;
}

.gallary__wrap_preview_img > img{
    object-fit: cover;

    transition: filter .5s ease-in-out;
    filter: grayscale(60%) brightness(60%);
}

.gallary__wrap_preview_img > img:hover {
    filter: grayscale(60%) brightness(100%);
}

.active__prev_img {
    transform: scale(1.2);

    z-index: 1000;
}

.active__prev_img::after {
    content: '';

    display: block;

    height: 2px;

    background: #d4a368;

    animation: moving 1.5s linear -.5s; 
}

.wrapper__preview_imges::after {
    content: '';

    display: block;

    position: absolute;
    top: calc(100% * 1.2);

    width: 100%;
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.active__prev_img > img {
    filter: grayscale(60%) brightness(100%);
}

.intro__gallary_slider_left {
    width: 60px;
    left: -80px;
    top: calc(50% - 93.5px/2);
    opacity: .3;
    cursor: pointer;
}

.intro__gallary_slider_left:hover {
    opacity: .8;
}

.intro__gallary_slider_left:active {
    opacity: 1;
}

.intro__gallary_slider_right {
    width: 60px;
    top: calc(50% - 93.5px/2);
    right: -80px;
    opacity: .3;
    cursor: pointer;
}

.intro__gallary_slider_right:hover {
    opacity: .8;
}

.intro__gallary_slider_right:active {
    opacity: 1;
}

/* content */

.title {
    color: #beaa73;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

/* intro text */
.content__wrapper {
    padding:  4rem 20rem;

    text-align: center;
    color: #fff;
    background: #201510;
}

.content__box p:last-child {
    padding-bottom: 3rem;
}

.content__title {
    padding-bottom: 1.25rem;

    font-size: 1.25rem;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.content__text {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 1.5;
}

.content__button {
    display: inline-block;

    transition: .5s all;
    color: #beaa73;
    border: 2px solid #beaa73;
    border-radius: .5rem;
}

.content__button:hover {
    background: #beaa73;
    color: #fff;
}

.content__button > button {
    padding: .5rem;
}

/* Tabs */

.tabs__section {
    font-size: 1rem;

    padding:  2rem 0 5rem;
    text-align: center;

    background: url(/img/contant/background/some-artist.jpg) no-repeat 0 -400px/cover;

    z-index: 1000;
}

.tabs__section_into_box {
    width: 750px;

    margin: 0 auto;
}

.tabs__title {
    color: #fff;
}

.tabs__main_wrapper {
    display: grid;
    grid-template-columns: 4fr 150px;

    box-shadow: 0 0 20px #201510;
}

.tabs__images_wrapper {
    height: 600px;
    width: 600px;
}

.titles__tabs {
    padding: 1.4rem;

    color: #FAFAFA;
    background: #111;
}

.tabs__wrap_img {
    height: 600px;
    width: 600px;
}

.transparent__box {
    bottom: 60px;
    left: 60%;

    width: 450px;
    min-height: 200px;

    padding: 20px;

    background:#111111b7;
    box-shadow: inset 0 0 1px 1px #fff;
}

.transparent__box > span {
    text-transform: none;
}


.tabs_item {
    padding-left: 5px;
    text-align: left;

    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    line-height: 2;
    letter-spacing: .5px;

    border-left: 2px #d4a368 solid;
    transition: color .4s linear;
}

.tabs_item.active {
    color: #d4a368;
}

/* perks */

.perks__box {
    justify-content: space-evenly;
    align-items: center;
}

.perk__item_wrap {
    flex: 1 0 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perk__item_wrap:hover {
    animation: appear .5s ease-in-out;
}

.perk__img_wrap {
    width: 150px;
    height: 150px;
}

/* Price cards */

.cards__section {
    width: 100%;

    font-size: 1rem;

    padding:  1rem 0;
    text-align: center;

    background: url(/img/contant/background/some-apartment.jpg) no-repeat 0 -400px/cover;

    z-index: 1000;
}

.cards__wrapper {
    width: 95%;

    margin: 40px auto 50px;
}

.cards__additional_wrapper {
    flex-wrap: nowrap;
}

.inner__box {
    flex: 1 0 100%;

    display: flex;
    justify-content: space-evenly;
}

.cards__wrapper::-webkit-scrollbar {
    height: 0;
}

.box__price_card {
    height: 400px;

    font-size: 1.36rem;
    color: #fff;

    background: #111111b7;
    box-shadow: 0 0 15px #000;
}

.card__item_title {
    padding: 10px;
    text-align: center;

    font-family: 'Oswald', sans-serif;
    font-size: 1.45rem;
    line-height: 1.5;
    letter-spacing: .5px;

    transition: color .5s linear;

    color: #d4a368;
}

.card__item_title:hover {
    color: #fff;
}

.card__item_descr {
    font-size: 1.125rem;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;

    min-height: 30%;
    padding: 10px;
}

.card__item_price_wrap {
    display: flex;

    justify-content: space-between;
    align-items: center;

    max-height: 50px;

    padding: 25px;

    font-weight: 300;
}

.card__item_price {
    padding-left: 20px;
}

.brown__span {
    color: #beaa73;
}

.card__img > img {
    object-fit: cover;
}

.tattoo__item-total {
    padding-right: 20px;
}

.card__img {
    flex: 1;
}

.card-vertical > .card__img {
    height: 185px;
}

.card__content_wrapper {
    flex: 1;
}

.inversion__order-item {
    order: 2;
}

.cards__sliders {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    opacity: .3;
    transition: all .5s;
    cursor: pointer;

    z-index: 1000;
}

.cards__sliders:hover {
    opacity: 1;
}

.slider__left {
    left: 0;
}

.slider__right {
    right: 0;
}

/* staff section */

.staff__section {
    padding: 5rem 15rem;
}

.staff__main_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.staff__main_wrapper .staff__person_wrapper {
    max-width: 100%;
    height: 300px;

    margin: 0 auto;

    transition: .4s transform;
}

.staff__img_wrap {
    width: 100%;
    height: 100%;

    transition: 1s padding;

    box-shadow: 5px 5px 10px #000;
}

.staff__person_descrition_wrap {
    visibility: hidden;
    opacity: 0;

    left: 0;
    bottom: 0;

    width: 100%;

    transition: .2s all;

    background: #111111b7;
}

.staff__img.cover {
    object-position: 50% 0;

    filter: brightness(.8);

    transition: 2s filter;
}

.staff__person_descrition {
    text-align: center;

    padding: 1.5rem;
}

.staff__person_wrapper:hover {
    transform: scale(1.05);
}

.staff__person_wrapper:hover .staff__person_descrition_wrap{
    visibility: visible;
    opacity: 1;
}

.staff__person_wrapper:hover .staff__img_wrap{
    padding: 0;
}

.staff__person_wrapper:hover .staff__img{
    filter: brightness(1);

    cursor: pointer;
}

/* intro content */

.intro__description_wrapper {
    grid-column: 2 / span 3;

    text-align: left;

    animation: slideRightAppearence 1s ease-out;
}

.staff__section_header .intro__staff_title.content__title {
    font-size: 1.8rem;
}

.staff__section_header .intro__staff_subtitle.content__title {
    font-size: 1.6rem;
}

.intro__description_wrapper .intro__staff_title {
    font-size: 1.5rem;

    text-align: left;

    text-transform: none;
}

.intro__staff_title {
    padding-bottom: 0;

    color: #fff;
}

.intro__staff_subtitle {
    text-transform: lowercase;
}

.staff__title {
    display: block;

    padding: .5rem 0;
}

.intro__description_wrapper .content__text:nth-of-type(1) {
    text-align: left;

    line-height: 1.5;

    animation: slideRightAppearence 1.2s ease-out;
}

.intro__description_wrapper .content__text:nth-of-type(2) {
    text-align: left;

    line-height: 2;

    animation: slideRightAppearence 1.6s ease-out;
}

.intro__description_wrapper .content__text:nth-of-type(3) {
    text-align: left;

    line-height: 2;

    animation: slideRightAppearence 2s ease-out;
}

.intro__img_wrap {
    width: 300px;

    height: 100%;  
    min-height: 150px;
    max-height: 418px;
    
    padding-top: 71.8%;

    overflow: hidden;

    margin: 0 auto;

    transition: .2s outline, .4s transform;

    animation: slideLeftAppearence 1.2s ease-out;
}

.intro__img_wrap:hover {
    transform: scale(1.05);
}

.intro__img_wrap:hover {
    outline: 3px solid #ffffff;
}

.intro__img {
    top: 0;
    left: 0;

    height: 100%;
}

.intro__button_wrap {
    width: 10rem;

    margin-top: 3rem;

    text-align: center;
}

.staff__person_button {
    display: block;

    width: 12rem;

    margin: 3rem auto;

    text-align: center;
}







































/* action section */

.action__img_wrapper {
    width: 100%;

    height: 100%;  
    
    padding-top: 66.67%;

    margin: 0 auto;
}

.action__img {
    top: 0;
    left: 0;

    height: 100%;

    object-position: 0 0;
}

.action__main_title {
    font-size: 4rem;

    color: #beaa73;
}

.action__timer_title {
    color: #beaa73;

    padding: 0;
}

.action__timer_content_wrapper .content__text {
    padding: 3rem;

    font-size: 1.1rem;
    line-height: 2;

    text-align: justify;
}









































/* gallary */

.gallary {
    z-index: 10000;
}

/* .gallary__modal {
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 7rem 7rem 5rem 5rem;
} */

.additional__gallary_content_wrap {
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    padding: 5rem 15rem;
}

.gallary__content_main_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    margin: 0 auto;
}

.gallary__photo_box {
    position: relative;

    width: 100%;
    height: 100%;

    /* padding-top: 80%; */

    overflow: hidden;

    transition: transform .3s ease-out;
}

.gallary__photo_box:hover {
    transform: scale(1.1);

}

.gallary__photo_box:hover .gallary__zoom_img  {
    visibility: visible;

    opacity: .6;
}

.gallary__img {
    /* position: absolute; */

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.gallary__zoom_img {
    top: 35%;
    left: 35%;

    width: 30%;
    height: 30%;

    opacity: 0;

    transition: visibility .3s, opacity .6s;

    z-index: 10000;
}

.gallary__viewing_photo_box {
    width: 90%; 
    height: 85%; 

    margin: 10vmin auto;

    /* background: #111; */
}

@media (orientation: portrait) {
    .gallary__viewing_photo_box {
        margin: 10vmax auto;
    }
  }

.gallary__zoom_img:hover + .gallary__img, 
.gallary__img:hover {
    filter: blur(1px);
}





















/* about modal */

.about__content_wrapper {

    height: 100%;

    padding: 5rem 15rem;

    overflow-y: scroll;
}

.about__img_wrapper {

    margin: 0 auto 2rem;
}

.about__title  {
    text-align: left;

    color: #beaa73;
}

.about__content__text {
    text-align: justify;
}



























/* faq modal */

.faq__content_wrapper {
    height: 100%;

    padding: 5rem 20rem;

    overflow-y: auto;
}

.faq__title {
    padding-top: 1.25rem;

    color:#beaa73;
}

.faq__styles_list {
    padding-left: 5rem;

    line-height: 2;
    text-transform: uppercase;
}


















/* footer */

.footer {
    position: fixed;
    bottom: 0;

    width: 100%;

    background: #111;

    z-index: -1;
}

.footer_wrapper {
    display: flex;
}

.footer_wrapper_contacts {
    flex: 2;

    padding: 2rem 5rem 4rem;

    line-height: 2;
}

.footer_wrapper_map {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    /* padding-top: 5rem; */
}

.footer__btn {
    margin-left: .5rem;
}